# Exclude everythings
*

# Except
!.gitignore
!settings.py
!urls.py
!admin.py
!apps.py
!forms.py
!models.py
!tests.py
!views.py
!mini.sh
!accueil.html
!base.html
!lire.html
!images.html
!videos.html
!style.css
!script/*
#!/polices/*

# Even in sub dirs
!*/
