

@font-face {
    font-family: 'Znikomit';
    src: url('Znikomit.otf') format('truetype');
}

body {
  font-family: Znikomit;
  font-weight: bold;
}


/* main container for all pages*/
.container {
  margin: auto;
  width: 80%;
}

.return {
  position: relative;
  float:right;
  cursor: pointer;
  right:0;
}

.map_accueil{
  width: 100%;
  height: 400px;
  position: relative;
}

/* container image presentation */
.responsive-grid {
  position: relative;
  margin: 0 auto; /* Center it */
  width: 100%;
  box-sizing: border-box;
  padding: 0 1% 2%;
}

.responsive-grid .video {
width: 100%;
height: 300px;
}

.responsive-grid img {
  vertical-align: middle;
  width: 100%;
}

.responsive-grid:hover {opacity: 0.7;}

.responsive-grid .titre-article {
  position: absolute; /* Position the background text */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #E3E3E3;
  width: 97.5%; /* Full width */
  height: 25%;
  top:48%;
  left: 50%;
  transform: translate(-50%,100%);
  text-align: center;
}

/* Responsive grid */
.column {
 float: left;
 width: 25%;
}

.column_image_grid {
 float: left;
 width: 25%;
}

.column_vid_grid{
 float: left;
 width: 50%;
}

/* Clear floats */
.row:after {
 content: "";
 display: table;
  clear: both;
}

/* Style the Image Used to Trigger the Modal */
.image-titre {
  cursor: pointer;
  transition: 0.3s;
}

/* pagination of images */
.pagination {
  /* display: inline-block; */
  position:relative;
  padding-top: 10px;
  text-align: center;
}

.pagination a {
  color: black;
  /* float: left; */
  /* position: relative; */
  padding: 8px 16px;
  text-decoration: none;


}

.pagination a.active {
  background-color: #181818;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.image-titre:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  position: relative;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
  top:5%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.mySlides .caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  height:14px;
  top:0%;
  right: 2%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* settings for zoom slideshow */
.mySlides {
  position: relative;
  width:100%;
  height:auto;
  display: block;
  margin-top: 0%;
}

/* Next & previous buttons */
.img_slideshow {
  position: relative;
  margin: auto;
  max-width: 100%;
  max-height: 50%;
}

.container_im {
  max-width: 100%;
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.image_in {
  display: block;
  width:50%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}

.image_in_pano {
  display: block;
  width:100%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}

/* having two images side by side*/

.two_images {
  display: block;
  width:49%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
 float: left;
 padding-left:5px;
 padding-bottom: 5px;
}

.container_lire {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* width: 1170px; */
  box-sizing: border-box;
}

.container_lire p {
  text-align: justify;
}
.contenu {
  text-align: justify;
}

.container_map {
  position: relative;
  margin-top:-30px;
}
.container_map iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1170px) {

  p {
    font-size:20px;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 30px;
  }

  .map_accueil{
    width: 100%;
    height: 300px;
  }

 .column {
   width: 50%;
 }

 .column_image_grid {
   width: 50%;
 }

 .column_vid_grid{
  float: left;
  width: 100%;
 }

 .container {
   margin: auto;
   width: 100%;
 }

 .responsive-grid .video {
 width: 100%;
 height: 400px;
 }

 .modal-content {
   width: 100%;
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   top:0;
 }

 .image_in {
   width:100%;
 }

 .two_images {
   padding:3px;
   width:100%;
   height:auto;
 }

 .mySlides {
   position: fixed;
   margin-top: 0%;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   max-width: 100%;
   max-height: 100%;
 }

 .prev, .next {
   font-size: 30px;
 }

 .close {
   font-size: 60px;
 }

 .caption {
   font-size: 25px;
 }

 .pagination a {
   font-size: 30px;
 }

}
